<div id="header-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <header id="header">
                    <h1><a>@Config.Quote</a></h1>
                    <nav id="nav">
                        <a asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                        <a asp-area="" asp-controller="Projects" asp-action="Index" asp-route-id="">Наши проекты</a>
                        <a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="">Наши услуги</a>
                        <a asp-area="" asp-controller="Blogs" asp-action="Index" asp-route-id="">Блог</a>
                        <a asp-area="" asp-controller="Home" asp-action="Contacts">Контакты</a>
                    </nav>
                </header>
            </div>
        </div>
    </div>
</div>

