@model Question
@{
    string strTitle = "Редактировать вопрос";
    ViewBag.Title = strTitle;
}

<script src="~/js/ckeditor/ckeditor.js"></script>

<div>
    <h2>@strTitle</h2>
    <div>
        <form asp-area="Admin" asp-controller="Questions" asp-action="Edit" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Email" />
            <input type="hidden" asp-for="FullName" />
            <input type="hidden" asp-for="DateAdded" />

            <div asp-validation-summary="All"></div>
            <div class="div-box">
                <label asp-for="QuestionStatus"></label>
                <input asp-for="QuestionStatus" />
                <span asp-validation-for="QuestionStatus"></span>
                <select>
                    <option>Принят</option>
                    <option>В работе</option>
                    <option>Выполнен</option>
                    <option>Отменён</option>
                    <option>Отклонён</option>
                </select>
            </div>
            <div class="div-box">
                <label asp-for="QuestionText"></label>
                <input asp-for="QuestionText" />
                <span asp-validation-for="QuestionText"></span>
            </div>
            <input type="submit" value="Сохранить" />
        </form>
    </div>
</div>


<script>
    window.onload = function() {
        var newCKEdit = CKEDITOR.replace('@Html.IdFor(x=>x.QuestionText)');
        newCKEdit.updateElement();
    }
</script>
